html, body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	padding-top: 47px;
}
body {
	background-image: -webkit-linear-gradient(315deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
	background-image: linear-gradient(135deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
}
body {
	font-size: 25px;
}
select, input, button {
	font-size: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	z-index: 1;
}
#setting {
	margin-left: 5px;
}
#setting .fa-toggle-off{color: #000;}
#setting .fa-toggle-on{color: green;}
select, input, button {
	width: 100%;
	max-width: 100%;
}
button {
	margin-top: 10px;
}
#items {
	text-align: center;
}
#items, #buttons, #items tr, #buttons tr {
	width: 100%;
}
#items img:hover {
	background-color: green;
}
#items img {
	width: 100%;
	max-width: 129px;
}
.blue {
	background-color: blue;
}
#wrapper {
	display: table;
	width: 100%;
}
#wrapper .tr {
	display: table-row;
}
#wrapper .tr .td {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	border-style: ridge;
}
#wrapper .tr .td img {
	width: 100%;
	max-width: 60px;
	min-width: 40px;
	vertical-align:middle;
}
#meny, #error {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
    font-size: 1.5em;
    padding: 0px;
    background-color: #000;
    color: #000;
    padding: 0px;
}
#meny {z-index: 19;}
#error {
	background-color: red;
	color: white;
	z-index: 20;
}
#meny i {margin: 5px;}
	#meny.menyright {text-align: right;}
	#meny.menyright .fa-arrow-circle-left {color: black;}
	#meny.menyright .fa-question-circle {color: yellow;}
	#meny.menyright .fa-info-circle {color: #00c0ff;}
	#meny.menyright .fa-cog {color: lightgray;}
	#meny.menyright .fa-plus-circle {color: lightgreen;}
	#meny.menyleft {text-align: left;}
	#meny.menyleft .fa-arrow-circle-left {color: white;}
	#meny.menyleft .fa-info-circle,
	#meny.menyleft .fa-question-circle,
	#meny.menyleft .fa-cog,
	#meny.menyleft .fa-plus-circle {color: black;}
h1 {
	font-family: verdana;
	font-size: 1.5em;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
#information h3 {
	font-family: verdana;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#information p {
	margin-top: 0px;
	padding-top: 0px;
}
.pokestop {
	width: 20px!important;
	min-width: 20px;
}
.popupalt {border-collapse: collapse;}
.popupalt td {border: solid 2px #000;}
.popupalt tr:nth-child(even) {background: #CCC}
.popupalt tr:nth-child(odd) {background: #FFF}
#footer {
	font-size:10px!important;
	text-align: center;
	padding-top: 40px;
}
#footer a {
	color:#000;
}
#footer a:hover {
	color: #E87600;
	text-decoration: overline underline;
}

#wrapperpokestopnamn {
	position: relative;
}
#pokestopnamn {
	padding-left: 30px;
}
.fa-crosshairs {
	position: absolute;
    z-index: 9;
    left: 5px;
    top: 5px;
	color: #000;
	display: none;
	cursor: pointer;
}