html, body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-image: -webkit-linear-gradient(315deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
	background-image: linear-gradient(135deg, hsla(0, 0%, 100%, .95), rgba(174, 254, 158, .99));
}
body, select, input, button {
	font-size: 30px;
}
#setting {
	margin-left: 5px;
}
#setting .fa-toggle-off{color: #000;}
#setting .fa-toggle-on{color: green;}
select, input, button {
	display: block;
	width: 100%;
	max-width: 100%;
}
button {
	margin-top: 10px;
}
#items {
	text-align: center;
}
#items, #buttons table, #items tr, #buttons tr {
	width: 100%;
}
#items img:hover {
	background-color: green;
}
#items img {
	width: 100%;
	max-width: 129px;
}
.blue {
	background-color: blue;
}
#wrapper {
	display: table;
	width: 100%;
}
#wrapper .tr {
	display: table-row;
}
#wrapper .tr .td {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-right: 10px;
	border-style: ridge;
}
#wrapper .tr .td img {
	width: 100%;
	max-width: 60px;
	min-width: 40px;
	vertical-align:middle;
}
.meny {
	width: 100%;
    font-size: 1.5em;
    padding: 0px;
    background-color: #000;
    color: #000;
}
.meny i {
	margin: 5px;
}
#meny {
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: right;
    padding: 0px;
    color: #FFF;
}
.meny .fa-arrow-circle-left{color: #FFF;}
#meny .fa-cog {color: lightgray;}
#meny .fa-plus-circle {color: lightgreen;}
#meny .fa-info-circle {color: lightblue;}
#addbutton
h1 {
	font-family: verdana;
	font-size: 1.5em;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
}
.pokestop {
	width: 20px!important;
	min-width: 20px;
}
.popupalt {border-collapse: collapse;}
.popupalt td {border: solid 2px #000;}
.popupalt tr:nth-child(even) {background: #CCC}
.popupalt tr:nth-child(odd) {background: #FFF}